bin/Debug/net7.0/credentials.json
bin/Debug/net7.0/user_reactions.csv
social-credit-bot.generated.sln
social-credit-bot.sln
quiz_state.json
votes.csv
obj
obj/Social-Credit-Bot.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
